    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
header{
    width: 100%;
}

@font-face {
    font-family: Roboto;
    src: url('//roboto/Roboto-Light.woff') format('woff'), url('./roboto/Roboto-Light.woff2') format('woff2');
    font-weight: 300;
}
@font-face {
    font-family: Work Sans;
    src: url('./WorkSans/WorkSans-Light.woff') format('woff') , url('./WorkSans/WorkSans-Light.woff2') format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: Robotob;
    src: url('./roboto/Roboto-Bold.woff') format('woff') , url('./roboto/Roboto-Bold.woff2') format('woff2');
    font-weight: 700;
}

header{
    position: fixed;
    z-index: 10;
    background-color: white;
}
@font-face {
    font-family: Work Sansb;
    src: url('./WorkSans/WorkSans-Bold.woff') format('woff') ,url('./WorkSans/WorkSans-Bold.woff2') format('woff2');
    font-weight: 700;
}


.container{
    width: 1690px;
    margin: 0 auto;
}



.hwr{
display: flex;
align-items: center;
padding: 20px 50px;
gap: 50px;
}

.hnav{
display: flex;
align-items: center;
gap: 40px;
margin-left: 440px;
margin-right: 50px;
}

.hbtns{
    display: flex;
    align-items: center;
    gap: 10px;
}


.hnavm{
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #013A4C;    
}

.hbtn1{
padding: 10px 17px;
border: none;
background-color: #FFD063;
border-radius: 5px;
color: #013A4C;
}


.hbtn2{
    padding: 9px 16px;
    border: 1px solid black;
    border-radius: 5px;
}


/*header end*/

.rob700{
    font-family: Robotob;
    font-size: 55px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0.699999988079071px;
    text-align: left;
    color: #013A4C;

}
.sec1{
    height: 840px;
    width: 100%;
    background-image: url('./heroimg.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.flex{
    display: flex;
    align-items: center;
}

.rob400{
font-family: Roboto;
font-size: 76px;
font-weight: 400;
line-height: 78px;
letter-spacing: 2px;
text-align: left;
color: #013A4C;
}

.work400{
font-family: Work Sans;
font-size: 24px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0.5px;
text-align: left;
color: #013A4C;
}




.sec1-info{
position: absolute;
top: 260px;
left: 150px;
}


.sec2{
    padding: 80px 0;
    background-color:#013A4C;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.sec3{
    background-color:#013A4C;
    display: flex;
    align-items: center;
    justify-content: space-evenly;  

}




.sec4{
  background-color: #013A4C;
  padding-bottom: 100px;
}


.s{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec4xz{ 

 
   background-color: #D3E8F4;

    display: flex;
    gap: 150px;


}

.xzos{
    border-radius: 10px;
    padding: 31px 61px;
    width: 1122px; 
    margin: 0 auto;
    background-color: #D3E8F4;
    background-image: url(./pingiponginaduvala.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.xz1{
display: flex;
flex-direction: column;
gap: 3px;
margin-top: 50px;
margin-bottom: 50px;
}

.span{
    display: inline-block;
    width: 1000px;
    height: 1px;
    background-color: black;

}


.sec6{
    width: 1690px;
    height: 2432px;
    background-image: url(./volwebnoyaruka.jpg);
    background-repeat: no-repeat;
    background-color: #F2DCE4;
    padding-top: 150px;
}

.sec6beyba1 {
    margin-left: 1000px;
    margin-top: 200px;
}



.sec6beyba2 {
    margin-left: 200px;
    margin-top: 300px;
}



.sec6beyba3 {
    margin-left: 1000px;
    margin-top: 300px;
}


.sec7{
    width: 1690px;
height: 850px;

padding-top: 300px;
padding-left: 150px;
    background-image: url(./megaxarosh.png);
    background-size: cover;
}



.kartoshka{
    width:  1552px;
    background-color: white;
    margin-left: 100px; 
    border-radius: 7px;
    display: flex;
    gap: 15px;
    padding-left: 30px;
    overflow-x: scroll;

}

.minikartoxa{
    box-sizing: content-box;
    padding: 65px 32px;
    border: 1px solid grey;
    border-radius: 7px;
    min-width: 335px;
    height: 353px;

}   


.sec9{
    width: 1053px;
    margin: 0 auto;
    display: flex;
    align-items: center;
     gap: 150px;
     margin-top: 200px;
}

.sec10{
    margin-top: 100px;
}

.xzzasho{
    margin-left: 130px;
    margin-top: 50px;
    background-color: #F2DCE4;
    margin-right: 145px;
    border-radius: 8px;
    padding: 50px 0 25px 30px;
    display: flex;
    gap: 400px;
    margin-bottom: 25px;
}

.btn1{
    padding: 5px 8px;
    background-color: #B73D8B;
    border: none;
    color: #F2DCE4;
    border-radius: 2px;
}


.card3 {
display: flex;
gap: 25px;
margin-left: 130px;
}

.card1{
    background-color: #0F5987;
    border-radius: 2px;
    width: 455px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.sec11{
    margin-top: 200px;
    margin-left: 130px;
}

.cardik1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.cardiki{
display: flex;
gap: 200px;
}

.footerer{
    background-color: #013A4C;
    padding: 64px 150px 73px;
    margin-top: 300px;

}


.work4000{
    font-family: Work Sans;
    color: #013A4C;
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-align: left;
    }
    
    .foo1{
        margin-right: 100px;
    }
    .fot{
        display: flex;
        gap: 150px;
    }